<header>
    <nav class="navigation-bar">
        <div>
            <ul>
                <a href="/">Home</a>
            </ul>
            <ul>
                <a href="/tracker">Tracker</a>
            </ul>
            
        </div>

        <div class="title-combo">
            <div class="website-logo">
                <!-- Your logo goes here -->
            </div>
            <div class="website-name">
                <h3>Habit Tracker</h3>
            </div>
        </div>

    </nav>
</header>


